.hero {
    background-color: var(--hero-color);
    padding: 200px 0px;
    max-width: 1600px;
        margin: 0 auto;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/backgroundhero.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &__title {
                font-weight: 900;
                font-size: 44px;
                line-height: 1.36;
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                color: var(--first-btn-color);
                max-width: 696px;
                align-items: center;
                margin: auto;
                margin-bottom: 30px;
        
            }
        
            &__btn {
                background-color: var(--accent-color);
                font-family: inherit;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.87;
                text-align: center;
                letter-spacing: 0.06em;
                color: var(--first-btn-color);
                border-radius: 4px;
                max-width: 200px;
                max-height: 50px;
                border: 0;
                display: flex;
                cursor: pointer;
                margin: auto;
                padding: 10px 32px;
                align-items: center;
                white-space: nowrap;
        
            }


}




